*.env
/data*
/certificates/*
/license/*
Assisted Install.txt
Assisted Install.txt.bak
*.deb
*.fmcert
*.zip
*.settings
/filemaker-installs/*.rtf
/filemaker-installs/README_*.txt
/filemaker-installs/versions/*
/filemaker-installs/current/*
__pycache__